@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-4">
    <h1 class="display-4">Welcome to TheBigEat.com</h1>
    <p class="pt-4">Here you can book classes to learn new ways to cook,<br> whether you're a beginner or learning a new cuisine, TheBigEat has got you covered!</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Courses" asp-action="Index">View Cookery Classes</a>
    
</div>
